{% extends 'clients/base.html' %}

{% block title %}
    Редактировать сообщение
{% endblock %}

{% block content %}
    <div class="container my-5">
        <h2 class="text-center my-3">Редактирование сообщения</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <a href="{% url 'mail_messages:message_list' %}" class="btn btn-secondary">Назад</a>
            </div>
        </form>
    </div>
{% endblock %}