{% extends 'clients/base.html' %}

{% block title %}Список сообщений{% endblock %}

{% block content %}
<h2>Список сообщений</h2>
<a class="p-2 btn btn-outline-primary" href="{% url 'mail_messages:message_create' %}">Добавить сообщение</a>
<ul class="list-group my-5">
    {% for message in object_list %}
        <li class="list-group-item">
            <a href="{% url 'mail_messages:message_detail' message.pk %}">{{ message.message_subject }}</a>
        </li>
    {% empty %}
        <li class="list-group-item">Нет сообщений.</li>
    {% endfor %}
</ul>
{% endblock %}