{% extends 'clients/base.html' %}

{% block content %}
<h2>Список рассылок</h2>
<a href="{% url 'mailing:mailing_create' %}">Создать новую рассылку</a>
<table>
    <thead>
        <tr>
            <th>Название</th>
            <th>Статус</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for mailing in mailings %}
            <tr>
                <td>{{ mailing.name }}</td>
                <td>{{ mailing.get_status_display }}</td>
                <td>
                    <a href="{% url 'mailing:mailing_detail' mailing.pk %}">Просмотреть</a>
                    <a href="{% url 'mailing:mailing_update' mailing.pk %}">Редактировать</a>
                    <a href="{% url 'mailing:mailing_delete' mailing.pk %}">Удалить</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">Нет рассылок.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}