{% extends 'clients/base.html' %}

{% block title %}
    Детальная информация о получателе
{% endblock %}

{% block content %}
    <div class="container my-5">
        <h2 class="text-center my-3">ФИО: {{object.full_name }}</h2>
        <p class="text-center">Электронная почта: {{object.email}}</p>
        <p class="text-center">Комментарий: {{object.comment}}</p>
        <div class="text-center">
            <a href="{% url 'clients:client_update' client.pk %}" class="btn btn-lg btn-block btn-outline-primary mt-3">Редактировать</a>
            <a href="{% url 'clients:client_delete' client.pk %}" class="btn btn-lg btn-block btn-outline-primary mt-3">Удалить</a>
            <a href="{% url 'clients:client_list' %}" class="btn btn-lg btn-primary mt-3">Назад</a>
        </div>
    </div>
{% endblock %}