{% extends "clients/base.html" %}

{% load i18n %}
{% autoescape off %}
{% blocktranslate %}Вы получили это письмо, потому что был запрос на сброс пароля для вашей учетной записи.{% endblocktranslate %}

{% blocktranslate %}Пожалуйста, перейдите по следующей ссылке, чтобы установить новый пароль:{% endblocktranslate %}
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

{% blocktranslate %}Если вы не запрашивали сброс пароля, проигнорируйте это письмо. Ваш пароль останется прежним.{% endblocktranslate %}

{% blocktranslate %}Спасибо,{% endblocktranslate %}
{% blocktranslate %}Ваша команда приложения{% endblocktranslate %}
{% endautoescape %}